body{background-color: #01453E;}
h1{font-family: Cyan; font-size: 50px; color: #8BF412;}
p{font-family: Helvetica; font-size: 30px; color: #D56211;}
a{font-family: Helvetica; font-size: 24px; color: #D56211;}
img{border-style: dotted; border-width: 20px; border-color: #F3F311;}
